* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background-color: #f6f6f6;
}

#tete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

#tete img {
    width: 200px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

.fleche {
    margin-left: 20px;
    padding-bottom: 15px;
    color: black;
}

#logo-tete {
    margin-right: auto;
    margin-left: auto;
}


#titre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5% 0% 5%;
    padding-top: 5%;
}

.titre-menu {
    font-family: 'Shrikhand', cursive;
}

#menus {
    background-color: #f6f6f6;
    position:relative;
    bottom: 50px;
    border-radius: 45px 45px 0px 0px;
    height: 100%;
}

.sous-menu {
    margin-left: 25px;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    width: 40px;
}

/* .coeur:hover {
    animation: vide 1s;
    animation-fill-mode: forwards;

}

.coeur:hover + .coeur-plein {
    animation: rempli 1s;
    animation-fill-mode: forwards;
}

@keyframes vide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes rempli {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

/* .plat {
    background-color: white;
    width: 90%;
    height: 7%;
    margin: 5%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 14px 9px -2px #eaeaea;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.plat {
    background-color: white;
    width: 90%;
    height: 7%;
    margin: 5%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 14px 9px -2px #eaeaea;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat1 {
    animation: progressif 2s;
}

.plat2 {
    animation: progressif 3s;
    animation-delay: 0.2s;
}

.plat3 {
    animation: progressif 4s;
    animation-delay:0.4s;
}

@keyframes progressif {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.coche {
    background-color: #008766;
    width: 30%;
    height: 80px;
    text-align: center;
    display: none;
    margin-left: 95%;
}


.plat:hover .coche {
    display:block;
    animation: slide 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        transform:translateX(0px);
    }

    to {
        transform: translateX(-50px);
    }
}

.check {
    align-items: center;
}

.plat h3 {
    padding: 10px 0px 0px 10px;
}

.plat p {
    margin: -13px 15px 7px 11px;
}

.descr {
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    align-items: center;
}

#img-note {
    object-fit: cover;
    height: 290px;
}

#centrer-bouton {
    text-align: center;
}

#commander {
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    box-shadow: 0 3px 5px 0px gray;
}

#commander:hover {
    filter: brightness(110%);
    box-shadow: 0 8px 10px 3px gray;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    background-color: #353535;
    color: white;
}

footer ul {
    margin-bottom: 0px;
}

footer li {
    padding-bottom: 7px;
}

footer ul {
    list-style:none;
}

footer li i {
    /* margin-right: 5px; */
}

#logo-footer {
    box-sizing: border-box;
    font-family: 'Shrikhand', cursive;
    color: white;
    padding-top: 10px;
}

#contact {
    text-decoration: none;
    color: white;
}


