* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#fond {
    width: 100%;
    height: 100%;
    background-color: #9356DC;
    z-index: 3;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    animation: charge 2s;
    animation-fill-mode: forwards;
}


@keyframes charge {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loader {
    width: 60px;
    height: 60px;
    border: 5px solid #FFF;
    border-bottom-color: #99E2D0;
    border-radius: 50%;
    position: sticky;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: auto;
    display: inline-block;
    animation: rotation 2s linear ;
    animation-fill-mode: forwards;
}

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

body {
    margin: 0;
    height: 100%;
    background-color: #f6f6f6;
    position: relative;
}

#tete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

#tete img {
    width: 200px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

.fleche {
    margin-left: 20px;
    padding-bottom: 15px;
    color: black;
}

#logo-tete {
    margin-right: auto;
    margin-left: auto;
}

#titre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5% 0% 5%;
    padding-top: 5%;
}

.titre-menu {
    font-family: 'Shrikhand', cursive;
}

#menus {
    background-color: #f6f6f6;
    position:relative;
    bottom: 50px;
    border-radius: 45px 45px 0px 0px;
    height: 100%;
}

.sous-menu {
    margin-left: 25px;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    width: 40px;
}

.plat {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    white-space: nowrap;
    /* overflow: hidden; */
    background-color: white;
    width: 95%;
    height: 5%;
    margin: 5%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 14px 9px -2px #eaeaea;    
}


.detail {
    display: inline-block;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.detail h3 {
    text-overflow: ellipsis;
    overflow: hidden;
}

.description {
    display: inline;
}

.description p {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

.plat h3 {
    padding: 0px 0px 0px 10px;
}

.plat p {
    margin: -13px 15px 7px 11px;
}

.taille {
    width: 65%;
}

.marge {
    margin-right: 10px;
}
.plat1 {
    animation: progressif 2s;
}

.plat2 {
    animation: progressif 3s;
    animation-delay: 3.2s;
}

.plat3 {
    animation: progressif 4s;
    animation-delay:3.4s;
}

@keyframes progressif {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.coche {
    display: inline-block;
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    transition: all 0.5s ease;
    overflow: hidden;
    width: 0;
}

.plat:hover .coche {
    width: 80px;    
}


.check {
    background-color:#99E2D0;
    color: white;
}

.icone-valider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.plat:hover .icone-valider {
    animation: rotation 0.75s;
    animation-iteration-count: 1;
    display: flex;
}

@keyframes rotation {

    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

#img-note {
    object-fit: cover;
    height: 290px;
}

#centrer-bouton {
    text-align: center;
}

#commander {
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    box-shadow: 0 3px 5px 0px gray;
}

#commander:hover {
    filter: brightness(110%);
    box-shadow: 0 8px 10px 3px gray;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    background-color: #353535;
    color: white;
}

footer ul {
    margin-bottom: 0px;
}

footer li {
    padding-bottom: 7px;
}

footer ul {
    list-style:none;
}

footer li i {
    /* margin-right: 5px; */
}

#logo-footer {
    box-sizing: border-box;
    font-family: 'Shrikhand', cursive;
    color: white;
    padding-top: 10px;
}

#contact {
    text-decoration: none;
    color: white;
}

.coeur {
    position: relative;
    z-index: 2;
}

.coeur-plein {
    position: relative;
    left: -24px;   
    color:#9356DC;
    z-index: 1;
    opacity: 0;
} 

.coeur:hover {
    animation: vide 1s;
    animation-fill-mode: forwards;

}

.coeur:hover + .coeur-plein {
    animation: rempli 1s;
    animation-fill-mode: forwards;
}

@keyframes vide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes rempli {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}