* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

header img {
    width: 200px;
    display: flex;
    margin: auto;
}

#position {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    margin-top: 10px;
    color: #4b4b4b;
}

#position i {
    margin-right: 2%;
}

#position h3 {
    margin-right: 3%;
}
#reservez {
    text-align: center;
    background-color: #f6f6f6;
    padding-top: 8%;
    padding-bottom: 8%;
}

#explorer {
    background-color: #FF79DA;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    border: none;
}

.magasin {
    color: #9356dc;
}

#restaurants {
    width: 100%;
    height: 25%;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurants a {
    text-decoration: none;
    color: black;
    width: 100%;

}

.carte {
    width: 90%;
    height: 10%;
    margin: 5%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 2px -2px gray;

}

.carte img {
    width: 100%;
    height: 200px;
    object-fit:cover;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;
}

.desc-carte {
    background-color: white;
    padding-left: 5%;
    height: 50px;
}

.desc-carte h3 {
    margin-bottom: -10px;
}

.coeur {
    margin-left: 88%;
    position: relative;
    bottom: 50px;
}


footer {
    background-color: #353535;
    color: white;
}

#un {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5%;
}

#deux {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 10px 10px 10px 10px;
}

#trois {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5edff;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
    border-radius: 10px 10px 10px 10px;
}

.num {
    background-color: #9356dc;
    color: white;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}