* {
    font-family: 'Roboto', sans-serif;
    z-index: 0;
}

body {
    margin: 0;
}

header img {
    width: 200px;
    display: flex;
    margin: auto;
}

#logo {
    width: 200px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#position {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    margin-top: 10px;
    color: #4b4b4b;
    box-shadow: inset  0px 2px 5px gray;
}

#position i {
    margin-right: 2%;
}

#position h3 {
    margin-right: 3%;
}

#section1 {
    background-color: #f6f6f6;

}

#reservez {
    text-align: center;
    background-color: #f6f6f6;
    padding-top: 8%;
    padding-bottom: 8%;
    margin: 0% 5% 0% 5%;
}

#reservez h1 {
    font-size:x-large;
}

#explorer {
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    color: white;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
    border: none;
    width: 220px;
    height: 50px;
    font-size: medium;
    box-shadow: 0 3px 5px 0px gray;
}

#explorer:hover {
    filter: brightness(110%);
    box-shadow: 0 8px 10px 3px gray;
    cursor: pointer;
}

#section2 {
    margin-top: 10%;
}

#fonctionnement h2 {
    padding-left: 5%;
}

.texte-fct {
    padding-right: 10%;
}

.texte-fct2 {
    padding-right: 20%; 
}

.texte-fct3 {
    padding-right: 19%;
}

.tel {
    color: gray;
}

.point {
    color: gray;
    /* padding-right: 10%; */
}

.magasin {
    color: #9356dc;
    /* padding-right: 10%; */
}

#un {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    width: 80%;
    height: 75px;
    margin-left: 5%;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 14px 9px -7px #eaeaea;

}

#deux {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    width: 80%;
    height: 75px;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 14px 9px -7px #eaeaea;

}

#trois {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5edff;
    width: 80%;
    height: 75px;
    margin-left: 5%;
    margin-bottom: 10%;
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 14px 9px -7px #eaeaea;

}

.num {
    background-color: #9356dc;
    color: white;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 0;
    position: relative;
    right: 10px;
}

#restaurants {
    width: 100%;
    height: 25%;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurants h2 {
    margin-left: -60%;
}


#restaurants a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.carte {
    width: 90%;
    height: 10%;
    margin: 5%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 14px 9px -2px #eaeaea;
    position: relative;
}

.carte img {
    width: 100%;
    height: 200px;
    object-fit:cover;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;
}

.desc-carte {
    background-color: white;
    padding-left: 5%;
    height: 50px;
}

.desc-carte h3 {
    margin-bottom: -10px;
}

.nouveau {
    background-color: #99e2d0;
    color: #008766;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px 2px 2px 2px;
    position: absolute;
    bottom: 80%;
    left: 78%;
    font-size: smaller;
    font-weight: bold;

}

.coeur {
    margin-left: 88%;
    position: relative;
    bottom: 40px;   
    z-index: 2;
}

.coeur-plein {
    margin-left: 88%;
    position: relative;
    bottom: 60px;   
    color:#9356DC;
    z-index: 1;
    opacity: 0;
}

.coeur:hover {
    animation: vide 1s;
    animation-fill-mode: forwards;

}

.coeur:hover + .coeur-plein {
    animation: rempli 1s;
    animation-fill-mode: forwards;

}

@keyframes vide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes rempli {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

footer {
    background-color: #353535;
    color: white;
}

footer ul {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -5px;
}

footer li {
    padding-bottom: 7px;
}


footer ul {
    list-style:none;
}

footer li i {
    /* margin-right: 5px; */
}

#logo-footer {
    box-sizing: border-box;
    font-family: 'Shrikhand', cursive;
    color: white;
    padding-top: 10px;
    margin-top: 0px;
}

#contact {
    text-decoration: none;
    color: white;
}






